.modal-content {
    background: rgba(55, 59, 65, 0.9);
    color: rgb(247, 250, 247);
}

.func {
    text-align: center !important;
    padding-top: 2rem;
    color: #FEFEFE;
    font-size: 20px;
}

.key {
    font-size: 24px;
    border: 1px solid rgba(201, 197, 181, 0.51);;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 3px #FEFEFE;
    margin: auto;
    width: 52px;
    height: 52px;
    line-height: 52px;
}

#help_modal .modal-content,
#feeds_modal .modal-content,
#signout_modal .modal-content,
#user_modal .modal-content
{
    margin-top: 30%;
}

.modal-header i.add {
    margin-top: 1rem;
    float: right;
}
.modal-header, .modal-footer {
    border-color: rgba(254, 254, 254, 0.25);
}
.modal-header > h4,
#play_modal .modal-content i {
    margin: auto;
}
.modal-body form div.row {
    margin-bottom: 2rem;
}

#play_modal .modal-content {
    background: transparent;
    border: none;
    font-size: 15rem;
    color: rgba(254, 254, 254, 0.8);
    margin-bottom: 30%;
}

form input[type=text] {
    font-size: 24px;
    font-weight: bold;
}

.action {
    cursor: pointer;
}

#uc_icon {
    height: 96px;
    width: 96px;
}

#uc_sign {
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 100000000;
    padding: 0.5rem;
    margin: 0.5rem;
    background: rgba(0,0,0, 0.5);
}
