#uc_icon {
    position: absolute;
    top: 80px;
    left: 20px;
    background-color: orange;
    padding: 10px;
    border-radius: 5px;
    height: fit-content;
    width: fit-content;
    opacity: 0.5;
}

#uc_icon img {
    height: 96px;
    width: 96px;
}

.nav-tabs .nav-link {
    /*color: rgb(62, 62, 62);*/
    font-size: larger;
    font-weight: bolder;
    margin: 1em 1em 0 1em;
    border-bottom: none;
    border-color: #dee2e6 #dee2e6 #fff;
    color: #fff;
}

body {
    background-color: #696969;
}

.tab-content, .nav-tabs .nav-link {
    /*color: #78ccc3;*/
    background-color: #808080;
}

.tab-pane, .nav-tabs .nav-link.active {
    /*color: #78ccc3;*/
    background-color: #b5b5b5;
}

.form-group {
    text-align: right;
    padding: 3px 1em 10px;
    margin-bottom: 3px;
}

.form-group label {
    font-size: 1em;
    font-weight: bolder;
}

form.col-3 {
    padding: 0;
}

div.col {
    height: 85vh;
    padding: 1em;

    overflow-y: scroll;
}

#content-tab i, #content_form .form-group label.badge {
    color: aquamarine;
}

#content .form-group, div#content_data {
    background-color: aquamarine;
}

#building-tab i, #building_form .form-group label.badge {
    color: #bfc1ff;
}

#building .form-group, div#building_data {
    background-color: #bfc1ff;
}

#fullprop-tab i, #fullprop_form .form-group label.badge {
    color: #ffb9f0;
}

#fullprop .form-group, div#fullprop_data {
    background-color: #ffb9f0;
}

select {
    text-align-last: right;
}

option {
    direction: rtl;
}

#b_ins_sum_show {
    float: left;
    padding: 10px;
}

.badge {
    font-size: larger;
}

label.badge {
    float: left;
}

form.col-3 > button.btn.btn-block {
    font-weight: 700;
}

.json-viewer {
    background-color: #fff !important;
}

.json-viewer a.list-link:before {
    color: #555 !important;
}

.d-flex.justify-content-center {
    margin-top: 45%;
}
@keyframes spinner-border {
    to {
        transform: rotate(360deg);
    }
}

.spinner-border {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    vertical-align: text-bottom;
    border: .5em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}

.spinner-border-sm {
    height: 1rem;
    border-width: .2em;
}
