<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ביטוח תכולה</title>
</head>
<body>
<table role="presentation" class="mk-aweb-menu-screen-reader-navigation-focus">
    <tbody role="grid" class="">

    <tr class=" k-master-row ">

        <td id="main-td" class="col-sm-12 col-xs-12 full-width" colspan="12" role="presentation"
        >
            <table id="innerTable" role="presentation" class="mk-aweb-menu-screen-reader-navigation-focus">
                <tbody role="presentation" class="">
                <tr role="presentation" class="">
                    <td class="hidden-xs" role="presentation"
                    ></td>

                    <td class="grid-row col-xs-12" role="presentation"
                    >


                        <div role="gridcell"><span
                                class="col-sm-1 col-xs-2 full-width corp-logo">
									<a href="//www.aig.co.il"
                                       title="איי אי ג'י ישראל חברה לביטוח בע&quot;מ , למעבר אל: //www.aig.co.il"
                                       target="_new" id="a_link" class="mk-aweb-menu-screen-reader-navigation-focus"
                                    >
										<img src="../Content/Images/Companies/108.png" style="border:none"
                                             alt="" class="">
									</a>
								</span></div>


                        <div role="gridcell"><label
                                class="col-xs-11 col-sm-5 grid-first-row padding20">
                            ביטוח דירה AIG באינטרנט
                            <span style="font-size:10px"></span>
                        </label></div>

                        <span class="hidden-sm hidden-lg hidden-md col-xs-7 printHeight paddingTopPrint"
                        ><b>ציון במדד השירות בביטוח דירה</b>  </span>
                        <div role="gridcell"><span
                                class=""> <a
                                class="paddingTop hidden-xs printNoBold printHeight full-width col-sm-1 numTxtcolor mk-aweb-menu-screen-reader-navigation-focus"
                                href="#item2" onclick="openScore()"
                                title="מדד השירות בביטוח דירה משקף את רמת השירות של חברת הביטוח בענף ביטוח דירה. למידע נוסף, לחץ על הציון של כל חברה."
                        >84</a></span></div>
                        <span class="printNoBold"> <a
                                class="hidden-sm hidden-lg hidden-md printNoBold printHeight full-width col-xs-3 numTxtcolor"
                                href="#uiDivUtilityIndexScore" onclick="openScore()"
                                title="מדד להשוואה בין חברות הביטוח ביחס לטיב ומהירות הטיפול בתביעות. למידע נוסף לחץ על הציון של כל חברה."
                                style="">84</a></span>

                        <span class="hidden-sm hidden-lg hidden-md col-xs-4 printHeight"
                        > <b
                        >מחיר הביטוח</b> </span>
                        <div role="gridcell"><span
                                class="paddingTop hidden-xs printNoBold printHeight full-width col-sm-1 col-md-2 ltr resultsTxtcolor"
                                style="white-space:nowrap;">₪ 10,717</span></div>
                        <span class="hidden-sm hidden-lg hidden-md col-xs-4 printNoBold printHeight not-padding-left col-xs-6 ltr resultsTxtcolor"
                        >₪ 10,717</span>

                        <div class="k-hierarchy-cell col-sm-1 col-md-1  col-xs-5 not-padding-left  " role="gridcell"
                        ><a
                                class="k-plus btn more-info-a radius mk-aweb-menu-screen-reader-navigation-focus"
                                id="uiamoreinfo" href="#"
                                title="לחיצה על הכפתור תציג פרטים חשובים לגבי הביטוח (הנחות, השתתפויות עצמיות וכיסויים נוספים)."
                        >הצג מידע חשוב</a></div>
                    </td>
                    <td class="hidden-xs" role="presentation"
                    ></td>
                </tr>
                </tbody>
            </table>
        </td>

    </tr>


    <tr class=" k-master-row ">

        <td id="main-td" class="col-sm-12 col-xs-12 full-width" colspan="12" role="presentation"
        >
            <table id="innerTable" role="presentation" class="mk-aweb-menu-screen-reader-navigation-focus">
                <tbody role="presentation" class="">
                <tr role="presentation" class="">
                    <td class="hidden-xs" role="presentation"
                    ></td>

                    <td class="grid-row col-xs-12" role="presentation"
                    >


                        <div role="gridcell"><span
                                class="col-sm-1 col-xs-2 full-width corp-logo">
									<a href="//www.shlomo-bit.co.il"
                                       title="ש. שלמה חברה לביטוח בע&quot;מ , למעבר אל: //www.shlomo-bit.co.il"
                                       target="_new" id="a_link" class="mk-aweb-menu-screen-reader-navigation-focus"
                                    >
										<img src="../Content/Images/Companies/118.png" style="border:none"
                                             alt="" class="">
									</a>
								</span></div>


                        <div role="gridcell"><label
                                class="col-xs-11 col-sm-5 grid-first-row padding20">
                            שלמה HOME
                            <span style="font-size:10px"></span>
                        </label></div>

                        <span class="hidden-sm hidden-lg hidden-md col-xs-7 printHeight paddingTopPrint"
                        ><b>ציון במדד השירות בביטוח דירה</b>  </span>
                        <div role="gridcell"><span
                                class=""> <a
                                class="paddingTop hidden-xs printNoBold printHeight full-width col-sm-1 numTxtcolor mk-aweb-menu-screen-reader-navigation-focus"
                                href="#item2" onclick="openScore()"
                                title="מדד השירות בביטוח דירה משקף את רמת השירות של חברת הביטוח בענף ביטוח דירה. למידע נוסף, לחץ על הציון של כל חברה."
                        >74</a></span></div>
                        <span class="printNoBold"> <a
                                class="hidden-sm hidden-lg hidden-md printNoBold printHeight full-width col-xs-3 numTxtcolor"
                                href="#uiDivUtilityIndexScore" onclick="openScore()"
                                title="מדד להשוואה בין חברות הביטוח ביחס לטיב ומהירות הטיפול בתביעות. למידע נוסף לחץ על הציון של כל חברה."
                                style="">74</a></span>

                        <span class="hidden-sm hidden-lg hidden-md col-xs-4 printHeight"
                        > <b
                        >מחיר הביטוח</b> </span>
                        <div role="gridcell"><span
                                class="paddingTop hidden-xs printNoBold printHeight full-width col-sm-1 col-md-2 ltr resultsTxtcolor"
                                style="white-space:nowrap;">₪ 15,248</span></div>
                        <span class="hidden-sm hidden-lg hidden-md col-xs-4 printNoBold printHeight not-padding-left col-xs-6 ltr resultsTxtcolor"
                        >₪ 15,248</span>

                        <div class="k-hierarchy-cell col-sm-1 col-md-1  col-xs-5 not-padding-left  " role="gridcell"
                        >
                            <a
                                    class="k-plus btn more-info-a radius mk-aweb-menu-screen-reader-navigation-focus"
                                    id="uiamoreinfo" href="#" tabindex="-1"
                                    title="לחיצה על הכפתור תציג פרטים חשובים לגבי הביטוח (הנחות, השתתפויות עצמיות וכיסויים נוספים)."
                            >הצג מידע חשוב</a></div>
                    </td>
                    <td class="hidden-xs" role="presentation"
                    ></td>
                </tr>
                </tbody>
            </table>
        </td>

    </tr>


    <tr class=" k-master-row ">

        <td id="main-td" class="col-sm-12 col-xs-12 full-width" colspan="12" role="presentation"
        >
            <table id="innerTable" role="presentation" class="mk-aweb-menu-screen-reader-navigation-focus">
                <tbody role="presentation" class="">
                <tr role="presentation" class="">
                    <td class="hidden-xs" role="presentation"
                    ></td>

                    <td class="grid-row col-xs-12" role="presentation"
                    >


                        <div role="gridcell"><span
                                class="col-sm-1 col-xs-2 full-width corp-logo">
									<a href="//www.migdal.co.il"
                                       title="מגדל חברה לביטוח בע&quot;מ , למעבר אל: //www.migdal.co.il" target="_new"
                                       id="a_link" class="mk-aweb-menu-screen-reader-navigation-focus"
                                    >
										<img src="../Content/Images/Companies/125.png" style="border:none"
                                             alt="" class="">
									</a>
								</span></div>


                        <div role="gridcell"><label
                                class="col-xs-11 col-sm-5 grid-first-row padding20">
                            מגדל לבית
                            <span style="font-size:10px"></span>
                        </label></div>

                        <span class="hidden-sm hidden-lg hidden-md col-xs-7 printHeight paddingTopPrint"
                        ><b>ציון במדד השירות בביטוח דירה</b>  </span>
                        <div role="gridcell"><span
                                class=""> <a
                                class="paddingTop hidden-xs printNoBold printHeight full-width col-sm-1 numTxtcolor mk-aweb-menu-screen-reader-navigation-focus"
                                href="#item2" onclick="openScore()"
                                title="מדד השירות בביטוח דירה משקף את רמת השירות של חברת הביטוח בענף ביטוח דירה. למידע נוסף, לחץ על הציון של כל חברה."
                        >76</a></span></div>
                        <span class="printNoBold"> <a
                                class="hidden-sm hidden-lg hidden-md printNoBold printHeight full-width col-xs-3 numTxtcolor"
                                href="#uiDivUtilityIndexScore" onclick="openScore()"
                                title="מדד להשוואה בין חברות הביטוח ביחס לטיב ומהירות הטיפול בתביעות. למידע נוסף לחץ על הציון של כל חברה."
                                style="">76</a></span>

                        <span class="hidden-sm hidden-lg hidden-md col-xs-4 printHeight"
                        > <b
                        >מחיר הביטוח</b> </span>
                        <div role="gridcell"><span
                                class="paddingTop hidden-xs printNoBold printHeight full-width col-sm-1 col-md-2 ltr resultsTxtcolor"
                                style="white-space:nowrap;">₪ 15,861</span></div>
                        <span class="hidden-sm hidden-lg hidden-md col-xs-4 printNoBold printHeight not-padding-left col-xs-6 ltr resultsTxtcolor"
                        >₪ 15,861</span>

                        <div class="k-hierarchy-cell col-sm-1 col-md-1  col-xs-5 not-padding-left  " role="gridcell"
                        ><a
                                class="k-plus btn more-info-a radius mk-aweb-menu-screen-reader-navigation-focus"
                                id="uiamoreinfo" href="#" tabindex="-1"
                                title="לחיצה על הכפתור תציג פרטים חשובים לגבי הביטוח (הנחות, השתתפויות עצמיות וכיסויים נוספים)."
                        >הצג מידע חשוב</a></div>
                    </td>
                    <td class="hidden-xs" role="presentation"
                    ></td>
                </tr>
                </tbody>
            </table>
        </td>

    </tr>


    <tr class=" k-master-row ">

        <td id="main-td" class="col-sm-12 col-xs-12 full-width" colspan="12" role="presentation"
        >
            <table id="innerTable" role="presentation" class="mk-aweb-menu-screen-reader-navigation-focus">
                <tbody role="presentation" class="">
                <tr role="presentation" class="">
                    <td class="hidden-xs" role="presentation"
                    ></td>

                    <td class="grid-row col-xs-12" role="presentation"
                    >


                        <div role="gridcell"><span
                                class="col-sm-1 col-xs-2 full-width corp-logo">
									<a href="//www.clalbit.co.il"
                                       title="כלל חברה לביטוח בע&quot;מ , למעבר אל: //www.clalbit.co.il" target="_new"
                                       id="a_link" class="mk-aweb-menu-screen-reader-navigation-focus"
                                    >
										<img src="../Content/Images/Companies/79.png" style="border:none"
                                             alt="" class="">
									</a>
								</span></div>


                        <div role="gridcell"><label
                                class="col-xs-11 col-sm-5 grid-first-row padding20">
                            כלל ראשון לבית בטוח
                            <span style="font-size:10px"></span>
                        </label></div>

                        <span class="hidden-sm hidden-lg hidden-md col-xs-7 printHeight paddingTopPrint"
                        ><b>ציון במדד השירות בביטוח דירה</b>  </span>
                        <div role="gridcell"><span
                                class=""> <a
                                class="paddingTop hidden-xs printNoBold printHeight full-width col-sm-1 numTxtcolor mk-aweb-menu-screen-reader-navigation-focus"
                                href="#item2" onclick="openScore()"
                                title="מדד השירות בביטוח דירה משקף את רמת השירות של חברת הביטוח בענף ביטוח דירה. למידע נוסף, לחץ על הציון של כל חברה."
                        >77</a></span></div>
                        <span class="printNoBold"> <a
                                class="hidden-sm hidden-lg hidden-md printNoBold printHeight full-width col-xs-3 numTxtcolor"
                                href="#uiDivUtilityIndexScore" onclick="openScore()"
                                title="מדד להשוואה בין חברות הביטוח ביחס לטיב ומהירות הטיפול בתביעות. למידע נוסף לחץ על הציון של כל חברה."
                                style="">77</a></span>

                        <span class="hidden-sm hidden-lg hidden-md col-xs-4 printHeight"
                        > <b
                        >מחיר הביטוח</b> </span>
                        <div role="gridcell"><span
                                class="paddingTop hidden-xs printNoBold printHeight full-width col-sm-1 col-md-2 ltr resultsTxtcolor"
                                style="white-space:nowrap;">₪ 16,505</span></div>
                        <span class="hidden-sm hidden-lg hidden-md col-xs-4 printNoBold printHeight not-padding-left col-xs-6 ltr resultsTxtcolor"
                        >₪ 16,505</span>

                        <div class="k-hierarchy-cell col-sm-1 col-md-1  col-xs-5 not-padding-left  " role="gridcell"
                        ><a
                                class="k-plus btn more-info-a radius mk-aweb-menu-screen-reader-navigation-focus"
                                id="uiamoreinfo" href="#" tabindex="-1"
                                title="לחיצה על הכפתור תציג פרטים חשובים לגבי הביטוח (הנחות, השתתפויות עצמיות וכיסויים נוספים)."
                        >הצג מידע חשוב</a></div>
                    </td>
                    <td class="hidden-xs" role="presentation"
                    ></td>
                </tr>
                </tbody>
            </table>
        </td>

    </tr>


    <tr class=" k-master-row ">

        <td id="main-td" class="col-sm-12 col-xs-12 full-width" colspan="12" role="presentation"
        >
            <table id="innerTable" role="presentation" class="mk-aweb-menu-screen-reader-navigation-focus">
                <tbody role="presentation" class="">
                <tr role="presentation" class="">
                    <td class="hidden-xs" role="presentation"
                    ></td>

                    <td class="grid-row col-xs-12" role="presentation"
                    >


                        <div role="gridcell"><span
                                class="col-sm-1 col-xs-2 full-width corp-logo">
									<a href="//www.fnx.co.il"
                                       title="הפניקס חברה לביטוח בע&quot;מ , למעבר אל: //www.fnx.co.il" target="_new"
                                       id="a_link" class="mk-aweb-menu-screen-reader-navigation-focus"
                                    >
										<img src="../Content/Images/Companies/77.png" style="border:none"
                                             alt="" class="">
									</a>
								</span></div>


                        <div role="gridcell"><label
                                class="col-xs-11 col-sm-5 grid-first-row padding20">
                            בסיס לבית
                            <span style="font-size:10px"></span>
                        </label></div>

                        <span class="hidden-sm hidden-lg hidden-md col-xs-7 printHeight paddingTopPrint"
                        ><b>ציון במדד השירות בביטוח דירה</b>  </span>
                        <div role="gridcell"><span
                                class=""> <a
                                class="paddingTop hidden-xs printNoBold printHeight full-width col-sm-1 numTxtcolor mk-aweb-menu-screen-reader-navigation-focus"
                                href="#item2" onclick="openScore()"
                                title="מדד השירות בביטוח דירה משקף את רמת השירות של חברת הביטוח בענף ביטוח דירה. למידע נוסף, לחץ על הציון של כל חברה."
                        >81</a></span></div>
                        <span class="printNoBold"> <a
                                class="hidden-sm hidden-lg hidden-md printNoBold printHeight full-width col-xs-3 numTxtcolor"
                                href="#uiDivUtilityIndexScore" onclick="openScore()"
                                title="מדד להשוואה בין חברות הביטוח ביחס לטיב ומהירות הטיפול בתביעות. למידע נוסף לחץ על הציון של כל חברה."
                                style="">81</a></span>

                        <span class="hidden-sm hidden-lg hidden-md col-xs-4 printHeight"
                        > <b
                        >מחיר הביטוח</b> </span>
                        <div role="gridcell"><span
                                class="paddingTop hidden-xs printNoBold printHeight full-width col-sm-1 col-md-2 ltr resultsTxtcolor"
                                style="white-space:nowrap;">₪ 17,725</span></div>
                        <span class="hidden-sm hidden-lg hidden-md col-xs-4 printNoBold printHeight not-padding-left col-xs-6 ltr resultsTxtcolor"
                        >₪ 17,725</span>

                        <div class="k-hierarchy-cell col-sm-1 col-md-1  col-xs-5 not-padding-left  " role="gridcell"
                        ><a
                                class="k-plus btn more-info-a radius mk-aweb-menu-screen-reader-navigation-focus"
                                id="uiamoreinfo" href="#" tabindex="-1"
                                title="לחיצה על הכפתור תציג פרטים חשובים לגבי הביטוח (הנחות, השתתפויות עצמיות וכיסויים נוספים)."
                        >הצג מידע חשוב</a></div>
                    </td>
                    <td class="hidden-xs" role="presentation"
                    ></td>
                </tr>
                </tbody>
            </table>
        </td>

    </tr>


    <tr class=" k-master-row ">

        <td id="main-td" class="col-sm-12 col-xs-12 full-width" colspan="12" role="presentation"
        >
            <table id="innerTable" role="presentation" class="mk-aweb-menu-screen-reader-navigation-focus">
                <tbody role="presentation" class="">
                <tr role="presentation" class="">
                    <td class="hidden-xs" role="presentation"
                    ></td>

                    <td class="grid-row col-xs-12" role="presentation"
                    >


                        <div role="gridcell"><span
                                class="col-sm-1 col-xs-2 full-width corp-logo">
									<a href="//www.bth.co.il"
                                       title="ביטוח חקלאי - אגודה שיתופית מרכזית בע&quot;מ , למעבר אל: //www.bth.co.il"
                                       target="_new" id="a_link" class="mk-aweb-menu-screen-reader-navigation-focus"
                                    >
										<img src="../Content/Images/Companies/99.png" style="border:none"
                                             alt="" class="">
									</a>
								</span></div>


                        <div role="gridcell"><label
                                class="col-xs-11 col-sm-5 grid-first-row padding20">
                            פוליסה משופרת לביטוח הדירה ותכולתה
                            <span style="font-size:10px"></span>
                        </label></div>

                        <span class="hidden-sm hidden-lg hidden-md col-xs-7 printHeight paddingTopPrint"
                        ><b>ציון במדד השירות בביטוח דירה</b>  </span>
                        <div role="gridcell"><span
                                class=""> <a
                                class="paddingTop hidden-xs printNoBold printHeight full-width col-sm-1 numTxtcolor mk-aweb-menu-screen-reader-navigation-focus"
                                href="#item2" onclick="openScore()"
                                title="מדד השירות בביטוח דירה משקף את רמת השירות של חברת הביטוח בענף ביטוח דירה. למידע נוסף, לחץ על הציון של כל חברה."
                        >80</a></span></div>
                        <span class="printNoBold"> <a
                                class="hidden-sm hidden-lg hidden-md printNoBold printHeight full-width col-xs-3 numTxtcolor"
                                href="#uiDivUtilityIndexScore" onclick="openScore()"
                                title="מדד להשוואה בין חברות הביטוח ביחס לטיב ומהירות הטיפול בתביעות. למידע נוסף לחץ על הציון של כל חברה."
                                style="">80</a></span>

                        <span class="hidden-sm hidden-lg hidden-md col-xs-4 printHeight"
                        > <b
                        >מחיר הביטוח</b> </span>
                        <div role="gridcell"><span
                                class="paddingTop hidden-xs printNoBold printHeight full-width col-sm-1 col-md-2 ltr resultsTxtcolor"
                                style="white-space:nowrap;">₪ 19,583</span></div>
                        <span class="hidden-sm hidden-lg hidden-md col-xs-4 printNoBold printHeight not-padding-left col-xs-6 ltr resultsTxtcolor"
                        >₪ 19,583</span>

                        <div class="k-hierarchy-cell col-sm-1 col-md-1  col-xs-5 not-padding-left  " role="gridcell"
                        ><a
                                class="k-plus btn more-info-a radius mk-aweb-menu-screen-reader-navigation-focus"
                                id="uiamoreinfo" href="#" tabindex="-1"
                                title="לחיצה על הכפתור תציג פרטים חשובים לגבי הביטוח (הנחות, השתתפויות עצמיות וכיסויים נוספים)."
                        >הצג מידע חשוב</a></div>
                    </td>
                    <td class="hidden-xs" role="presentation"
                    ></td>
                </tr>
                </tbody>
            </table>
        </td>

    </tr>


    <tr class=" k-master-row ">

        <td id="main-td" class="col-sm-12 col-xs-12 full-width" colspan="12" role="presentation"
        >
            <table id="innerTable" role="presentation" class="mk-aweb-menu-screen-reader-navigation-focus">
                <tbody role="presentation" class="">
                <tr role="presentation" class="">
                    <td class="hidden-xs" role="presentation"
                    ></td>

                    <td class="grid-row col-xs-12" role="presentation"
                    >


                        <div role="gridcell"><span
                                class="col-sm-1 col-xs-2 full-width corp-logo">
									<a href="//www.Harel-ins.co.il"
                                       title="הראל חברה לביטוח בע&quot;מ , למעבר אל: //www.Harel-ins.co.il"
                                       target="_new" id="a_link" class="mk-aweb-menu-screen-reader-navigation-focus"
                                    >
										<img src="../Content/Images/Companies/16.png" style="border:none"
                                             alt="" class="">
									</a>
								</span></div>


                        <div role="gridcell"><label
                                class="col-xs-11 col-sm-5 grid-first-row padding20">
                            אדירה ארד
                            <span style="font-size:10px"></span>
                        </label></div>

                        <span class="hidden-sm hidden-lg hidden-md col-xs-7 printHeight paddingTopPrint"
                        ><b>ציון במדד השירות בביטוח דירה</b>  </span>
                        <div role="gridcell"><span
                                class=""> <a
                                class="paddingTop hidden-xs printNoBold printHeight full-width col-sm-1 numTxtcolor mk-aweb-menu-screen-reader-navigation-focus"
                                href="#item2" onclick="openScore()"
                                title="מדד השירות בביטוח דירה משקף את רמת השירות של חברת הביטוח בענף ביטוח דירה. למידע נוסף, לחץ על הציון של כל חברה."
                        >79</a></span></div>
                        <span class="printNoBold"> <a
                                class="hidden-sm hidden-lg hidden-md printNoBold printHeight full-width col-xs-3 numTxtcolor"
                                href="#uiDivUtilityIndexScore" onclick="openScore()"
                                title="מדד להשוואה בין חברות הביטוח ביחס לטיב ומהירות הטיפול בתביעות. למידע נוסף לחץ על הציון של כל חברה."
                                style="">79</a></span>

                        <span class="hidden-sm hidden-lg hidden-md col-xs-4 printHeight"
                        > <b
                        >מחיר הביטוח</b> </span>
                        <div role="gridcell"><span
                                class="paddingTop hidden-xs printNoBold printHeight full-width col-sm-1 col-md-2 ltr resultsTxtcolor"
                                style="white-space:nowrap;">₪ 19,875</span></div>
                        <span class="hidden-sm hidden-lg hidden-md col-xs-4 printNoBold printHeight not-padding-left col-xs-6 ltr resultsTxtcolor"
                        >₪ 19,875</span>

                        <div class="k-hierarchy-cell col-sm-1 col-md-1  col-xs-5 not-padding-left  " role="gridcell"
                        ><a
                                class="k-plus btn more-info-a radius mk-aweb-menu-screen-reader-navigation-focus"
                                id="uiamoreinfo" href="#" tabindex="-1"
                                title="לחיצה על הכפתור תציג פרטים חשובים לגבי הביטוח (הנחות, השתתפויות עצמיות וכיסויים נוספים)."
                        >הצג מידע חשוב</a></div>
                    </td>
                    <td class="hidden-xs" role="presentation"
                    ></td>
                </tr>
                </tbody>
            </table>
        </td>

    </tr>


    <tr class=" k-master-row ">

        <td id="main-td" class="col-sm-12 col-xs-12 full-width" colspan="12" role="presentation"
        >
            <table id="innerTable" role="presentation" class="mk-aweb-menu-screen-reader-navigation-focus">
                <tbody role="presentation" class="">
                <tr role="presentation" class="">
                    <td class="hidden-xs" role="presentation"
                    ></td>

                    <td class="grid-row col-xs-12" role="presentation"
                    >


                        <div role="gridcell"><span
                                class="col-sm-1 col-xs-2 full-width corp-logo">
									<a href="//www.hcsra.co.il"
                                       title="הכשרה חברה לביטוח בע&quot;מ , למעבר אל: //www.hcsra.co.il" target="_new"
                                       id="a_link" class="mk-aweb-menu-screen-reader-navigation-focus"
                                    >
										<img src="../Content/Images/Companies/94.png" style="border:none"
                                             alt="" class="">
									</a>
								</span></div>


                        <div role="gridcell"><label
                                class="col-xs-11 col-sm-5 grid-first-row padding20">
                            דירה פלוס
                            <span style="font-size:10px"></span>
                        </label></div>

                        <span class="hidden-sm hidden-lg hidden-md col-xs-7 printHeight paddingTopPrint"
                        ><b>ציון במדד השירות בביטוח דירה</b>  </span>
                        <div role="gridcell"><span
                                class=""> <a
                                class="paddingTop hidden-xs printNoBold printHeight full-width col-sm-1 numTxtcolor mk-aweb-menu-screen-reader-navigation-focus"
                                href="#item2" onclick="openScore()"
                                title="מדד השירות בביטוח דירה משקף את רמת השירות של חברת הביטוח בענף ביטוח דירה. למידע נוסף, לחץ על הציון של כל חברה."
                        >73</a></span></div>
                        <span class="printNoBold"> <a
                                class="hidden-sm hidden-lg hidden-md printNoBold printHeight full-width col-xs-3 numTxtcolor"
                                href="#uiDivUtilityIndexScore" onclick="openScore()"
                                title="מדד להשוואה בין חברות הביטוח ביחס לטיב ומהירות הטיפול בתביעות. למידע נוסף לחץ על הציון של כל חברה."
                                style="">73</a></span>

                        <span class="hidden-sm hidden-lg hidden-md col-xs-4 printHeight"
                        > <b
                        >מחיר הביטוח</b> </span>
                        <div role="gridcell"><span
                                class="paddingTop hidden-xs printNoBold printHeight full-width col-sm-1 col-md-2 ltr resultsTxtcolor"
                                style="white-space:nowrap;">₪ 20,450</span></div>
                        <span class="hidden-sm hidden-lg hidden-md col-xs-4 printNoBold printHeight not-padding-left col-xs-6 ltr resultsTxtcolor"
                        >₪ 20,450</span>

                        <div class="k-hierarchy-cell col-sm-1 col-md-1  col-xs-5 not-padding-left  " role="gridcell"
                        ><a
                                class="k-plus btn more-info-a radius mk-aweb-menu-screen-reader-navigation-focus"
                                id="uiamoreinfo" href="#" tabindex="-1"
                                title="לחיצה על הכפתור תציג פרטים חשובים לגבי הביטוח (הנחות, השתתפויות עצמיות וכיסויים נוספים)."
                        >הצג מידע חשוב</a></div>
                    </td>
                    <td class="hidden-xs" role="presentation"
                    ></td>
                </tr>
                </tbody>
            </table>
        </td>

    </tr>


    <tr class=" k-master-row ">

        <td id="main-td" class="col-sm-12 col-xs-12 full-width" colspan="12" role="presentation"
        >
            <table id="innerTable" role="presentation" class="mk-aweb-menu-screen-reader-navigation-focus">
                <tbody role="presentation" class="">
                <tr role="presentation" class="">
                    <td class="hidden-xs" role="presentation"
                    ></td>

                    <td class="grid-row col-xs-12" role="presentation"
                    >


                        <div role="gridcell"><span
                                class="col-sm-1 col-xs-2 full-width corp-logo">
									<a href="//www.555.co.il"
                                       title="איי. די. איי. חברה לביטוח בע&quot;מ , למעבר אל: //www.555.co.il"
                                       target="_new" id="a_link" class="mk-aweb-menu-screen-reader-navigation-focus"
                                    >
										<img src="../Content/Images/Companies/105.png" style="border:none"
                                             alt="" class="">
									</a>
								</span></div>


                        <div role="gridcell"><label
                                class="col-xs-11 col-sm-5 grid-first-row padding20">
                            ביטוח דירה ותכולתה
                            <span style="font-size:10px"></span>
                        </label></div>

                        <span class="hidden-sm hidden-lg hidden-md col-xs-7 printHeight paddingTopPrint"
                        ><b>ציון במדד השירות בביטוח דירה</b>  </span>
                        <div role="gridcell"><span
                                class=""> <a
                                class="paddingTop hidden-xs printNoBold printHeight full-width col-sm-1 numTxtcolor mk-aweb-menu-screen-reader-navigation-focus"
                                href="#item2" onclick="openScore()"
                                title="מדד השירות בביטוח דירה משקף את רמת השירות של חברת הביטוח בענף ביטוח דירה. למידע נוסף, לחץ על הציון של כל חברה."
                        >86</a></span></div>
                        <span class="printNoBold"> <a
                                class="hidden-sm hidden-lg hidden-md printNoBold printHeight full-width col-xs-3 numTxtcolor"
                                href="#uiDivUtilityIndexScore" onclick="openScore()"
                                title="מדד להשוואה בין חברות הביטוח ביחס לטיב ומהירות הטיפול בתביעות. למידע נוסף לחץ על הציון של כל חברה."
                                style="">86</a></span>

                        <span class="hidden-sm hidden-lg hidden-md col-xs-4 printHeight"
                        > <b
                        >מחיר הביטוח</b> </span>
                        <div role="gridcell"><span
                                class="paddingTop hidden-xs printNoBold printHeight full-width col-sm-1 col-md-2 ltr resultsTxtcolor"
                                style="white-space:nowrap;">₪ 20,836</span></div>
                        <span class="hidden-sm hidden-lg hidden-md col-xs-4 printNoBold printHeight not-padding-left col-xs-6 ltr resultsTxtcolor"
                        >₪ 20,836</span>

                        <div class="k-hierarchy-cell col-sm-1 col-md-1  col-xs-5 not-padding-left  " role="gridcell"
                        ><a
                                class="k-plus btn more-info-a radius mk-aweb-menu-screen-reader-navigation-focus"
                                id="uiamoreinfo" href="#" tabindex="-1"
                                title="לחיצה על הכפתור תציג פרטים חשובים לגבי הביטוח (הנחות, השתתפויות עצמיות וכיסויים נוספים)."
                        >הצג מידע חשוב</a></div>
                    </td>
                    <td class="hidden-xs" role="presentation"
                    ></td>
                </tr>
                </tbody>
            </table>
        </td>

    </tr>


    <tr class=" k-master-row ">

        <td id="main-td" class="col-sm-12 col-xs-12 full-width" colspan="12" role="presentation"
        >
            <table id="innerTable" role="presentation" class="mk-aweb-menu-screen-reader-navigation-focus">
                <tbody role="presentation" class="">
                <tr role="presentation" class="">
                    <td class="hidden-xs" role="presentation"
                    ></td>

                    <td class="grid-row col-xs-12" role="presentation"
                    >


                        <div role="gridcell"><span
                                class="col-sm-1 col-xs-2 full-width corp-logo">
									<a href="//WWW.MENORA.CO.IL"
                                       title="מנורה מבטחים ביטוח בע&quot;מ , למעבר אל: //WWW.MENORA.CO.IL" target="_new"
                                       id="a_link" class="mk-aweb-menu-screen-reader-navigation-focus"
                                    >
										<img src="../Content/Images/Companies/120.png" style="border:none"
                                             alt="" class="">
									</a>
								</span></div>


                        <div role="gridcell"><label
                                class="col-xs-11 col-sm-5 grid-first-row padding20">
                            מקיף לדירה
                            <span style="font-size:10px"></span>
                        </label></div>

                        <span class="hidden-sm hidden-lg hidden-md col-xs-7 printHeight paddingTopPrint"
                        ><b>ציון במדד השירות בביטוח דירה</b>  </span>
                        <div role="gridcell"><span
                                class=""> <a
                                class="paddingTop hidden-xs printNoBold printHeight full-width col-sm-1 numTxtcolor mk-aweb-menu-screen-reader-navigation-focus"
                                href="#item2" onclick="openScore()"
                                title="מדד השירות בביטוח דירה משקף את רמת השירות של חברת הביטוח בענף ביטוח דירה. למידע נוסף, לחץ על הציון של כל חברה."
                        >72</a></span></div>
                        <span class="printNoBold"> <a
                                class="hidden-sm hidden-lg hidden-md printNoBold printHeight full-width col-xs-3 numTxtcolor"
                                href="#uiDivUtilityIndexScore" onclick="openScore()"
                                title="מדד להשוואה בין חברות הביטוח ביחס לטיב ומהירות הטיפול בתביעות. למידע נוסף לחץ על הציון של כל חברה."
                                style="">72</a></span>

                        <span class="hidden-sm hidden-lg hidden-md col-xs-4 printHeight"
                        > <b
                        >מחיר הביטוח</b> </span>
                        <div role="gridcell"><span
                                class="paddingTop hidden-xs printNoBold printHeight full-width col-sm-1 col-md-2 ltr resultsTxtcolor"
                                style="white-space:nowrap;">₪ 21,250</span></div>
                        <span class="hidden-sm hidden-lg hidden-md col-xs-4 printNoBold printHeight not-padding-left col-xs-6 ltr resultsTxtcolor"
                        >₪ 21,250</span>

                        <div class="k-hierarchy-cell col-sm-1 col-md-1  col-xs-5 not-padding-left  " role="gridcell"
                        ><a
                                class="k-plus btn more-info-a radius mk-aweb-menu-screen-reader-navigation-focus"
                                id="uiamoreinfo" href="#" tabindex="-1"
                                title="לחיצה על הכפתור תציג פרטים חשובים לגבי הביטוח (הנחות, השתתפויות עצמיות וכיסויים נוספים)."
                        >הצג מידע חשוב</a></div>
                    </td>
                    <td class="hidden-xs" role="presentation"
                    ></td>
                </tr>
                </tbody>
            </table>
        </td>

    </tr>


    <tr class=" k-master-row ">

        <td id="main-td" class="col-sm-12 col-xs-12 full-width" colspan="12" role="presentation"
        >
            <table id="innerTable" role="presentation" class="mk-aweb-menu-screen-reader-navigation-focus">
                <tbody role="presentation" class="">
                <tr role="presentation" class="">
                    <td class="hidden-xs" role="presentation"
                    ></td>

                    <td class="grid-row col-xs-12" role="presentation"
                    >


                        <div role="gridcell"><span
                                class="col-sm-1 col-xs-2 full-width corp-logo">
									<a href="//www.shirbit.co.il"
                                       title="שירביט חברה לביטוח בע&quot;מ , למעבר אל: //www.shirbit.co.il"
                                       target="_new" id="a_link" class="mk-aweb-menu-screen-reader-navigation-focus"
                                    >
										<img src="../Content/Images/Companies/59.png" style="border:none"
                                             alt="" class="">
									</a>
								</span></div>


                        <div role="gridcell"><label
                                class="col-xs-11 col-sm-5 grid-first-row padding20">
                            פוליסה לביטוח דירה
                            <span style="font-size:10px"></span>
                        </label></div>

                        <span class="hidden-sm hidden-lg hidden-md col-xs-7 printHeight paddingTopPrint"
                        ><b>ציון במדד השירות בביטוח דירה</b>  </span>
                        <div role="gridcell"><span
                                class=""> <a
                                class="paddingTop hidden-xs printNoBold printHeight full-width col-sm-1 numTxtcolor mk-aweb-menu-screen-reader-navigation-focus"
                                href="#item2" onclick="openScore()"
                                title="מדד השירות בביטוח דירה משקף את רמת השירות של חברת הביטוח בענף ביטוח דירה. למידע נוסף, לחץ על הציון של כל חברה."
                        >78</a></span></div>
                        <span class="printNoBold"> <a
                                class="hidden-sm hidden-lg hidden-md printNoBold printHeight full-width col-xs-3 numTxtcolor"
                                href="#uiDivUtilityIndexScore" onclick="openScore()"
                                title="מדד להשוואה בין חברות הביטוח ביחס לטיב ומהירות הטיפול בתביעות. למידע נוסף לחץ על הציון של כל חברה."
                                style="">78</a></span>

                        <span class="hidden-sm hidden-lg hidden-md col-xs-4 printHeight"
                        > <b
                        >מחיר הביטוח</b> </span>
                        <div role="gridcell"><span
                                class="paddingTop hidden-xs printNoBold printHeight full-width col-sm-1 col-md-2 ltr resultsTxtcolor"
                                style="white-space:nowrap;">₪ 21,451</span></div>
                        <span class="hidden-sm hidden-lg hidden-md col-xs-4 printNoBold printHeight not-padding-left col-xs-6 ltr resultsTxtcolor"
                        >₪ 21,451</span>

                        <div class="k-hierarchy-cell col-sm-1 col-md-1  col-xs-5 not-padding-left  " role="gridcell"
                        ><a
                                class="k-plus btn more-info-a radius mk-aweb-menu-screen-reader-navigation-focus"
                                id="uiamoreinfo" href="#" tabindex="-1"
                                title="לחיצה על הכפתור תציג פרטים חשובים לגבי הביטוח (הנחות, השתתפויות עצמיות וכיסויים נוספים)."
                        >הצג מידע חשוב</a></div>
                    </td>
                    <td class="hidden-xs" role="presentation"
                    ></td>
                </tr>
                </tbody>
            </table>
        </td>

    </tr>


    <tr class=" k-master-row ">

        <td id="main-td" class="col-sm-12 col-xs-12 full-width" colspan="12" role="presentation"
        >
            <table id="innerTable" role="presentation" class="mk-aweb-menu-screen-reader-navigation-focus">
                <tbody role="presentation" class="">
                <tr role="presentation" class="">
                    <td class="hidden-xs" role="presentation"
                    ></td>

                    <td class="grid-row col-xs-12" role="presentation"
                    >


                        <div role="gridcell"><span
                                class="col-sm-1 col-xs-2 full-width corp-logo">
									<a href="//www.shomera.co.il"
                                       title="שומרה חברה לביטוח בע&quot;מ , למעבר אל: //www.shomera.co.il" target="_new"
                                       id="a_link" class="mk-aweb-menu-screen-reader-navigation-focus"
                                    >
										<img src="../Content/Images/Companies/85.png" style="border:none"
                                             alt="" class="">
									</a>
								</span></div>


                        <div role="gridcell"><label
                                class="col-xs-11 col-sm-5 grid-first-row padding20">
                            בונוס לדירה
                            <span style="font-size:10px"></span>
                        </label></div>

                        <span class="hidden-sm hidden-lg hidden-md col-xs-7 printHeight paddingTopPrint"
                        ><b>ציון במדד השירות בביטוח דירה</b>  </span>
                        <div role="gridcell"><span
                                class=""> <a
                                class="paddingTop hidden-xs printNoBold printHeight full-width col-sm-1 numTxtcolor mk-aweb-menu-screen-reader-navigation-focus"
                                href="#item2" onclick="openScore()"
                                title="מדד השירות בביטוח דירה משקף את רמת השירות של חברת הביטוח בענף ביטוח דירה. למידע נוסף, לחץ על הציון של כל חברה."
                        >84</a></span></div>
                        <span class="printNoBold"> <a
                                class="hidden-sm hidden-lg hidden-md printNoBold printHeight full-width col-xs-3 numTxtcolor"
                                href="#uiDivUtilityIndexScore" onclick="openScore()"
                                title="מדד להשוואה בין חברות הביטוח ביחס לטיב ומהירות הטיפול בתביעות. למידע נוסף לחץ על הציון של כל חברה."
                                style="">84</a></span>

                        <span class="hidden-sm hidden-lg hidden-md col-xs-4 printHeight"
                        > <b
                        >מחיר הביטוח</b> </span>
                        <div role="gridcell"><span
                                class="paddingTop hidden-xs printNoBold printHeight full-width col-sm-1 col-md-2 ltr resultsTxtcolor"
                                style="white-space:nowrap;">₪ 22,750</span></div>
                        <span class="hidden-sm hidden-lg hidden-md col-xs-4 printNoBold printHeight not-padding-left col-xs-6 ltr resultsTxtcolor"
                        >₪ 22,750</span>

                        <div class="k-hierarchy-cell col-sm-1 col-md-1  col-xs-5 not-padding-left  " role="gridcell"
                        ><a
                                class="k-plus btn more-info-a radius mk-aweb-menu-screen-reader-navigation-focus"
                                id="uiamoreinfo" href="#" tabindex="-1"
                                title="לחיצה על הכפתור תציג פרטים חשובים לגבי הביטוח (הנחות, השתתפויות עצמיות וכיסויים נוספים)."
                        >הצג מידע חשוב</a></div>
                    </td>
                    <td class="hidden-xs" role="presentation"
                    ></td>
                </tr>
                </tbody>
            </table>
        </td>

    </tr>


    <tr class=" k-master-row ">

        <td id="main-td" class="col-sm-12 col-xs-12 full-width" colspan="12" role="presentation"
        >
            <table id="innerTable" role="presentation" class="mk-aweb-menu-screen-reader-navigation-focus">
                <tbody role="presentation" class="">
                <tr role="presentation" class="">
                    <td class="hidden-xs" role="presentation"
                    ></td>

                    <td class="grid-row col-xs-12" role="presentation"
                    >


                        <div role="gridcell"><span
                                class="col-sm-1 col-xs-2 full-width corp-logo">
									<a href="//www.libra-ins.co.il"
                                       title="ליברה חברה לביטוח בע&quot;מ , למעבר אל: //www.libra-ins.co.il"
                                       target="_new" id="a_link" class="mk-aweb-menu-screen-reader-navigation-focus"
                                    >
										<img src="../Content/Images/Companies/186347.png" style="border:none"
                                             alt="" class="">
									</a>
								</span></div>


                        <div role="gridcell"><label
                                class="col-xs-11 col-sm-5 grid-first-row padding20">
                            ליברה - ביטוח דירה
                            <span style="font-size:10px"></span>
                        </label></div>

                        <span class="hidden-sm hidden-lg hidden-md col-xs-7 printHeight paddingTopPrint"
                        ><b>ציון במדד השירות בביטוח דירה</b>  </span>
                        <div role="gridcell"><span
                                class=""> <a
                                class="paddingTop hidden-xs printNoBold printHeight full-width col-sm-1 numTxtcolor mk-aweb-menu-screen-reader-navigation-focus"
                                href="#item2" onclick="openScore()"
                                title="מדד השירות בביטוח דירה משקף את רמת השירות של חברת הביטוח בענף ביטוח דירה. למידע נוסף, לחץ על הציון של כל חברה."
                        >**</a></span></div>
                        <span class="printNoBold"> <a
                                class="hidden-sm hidden-lg hidden-md printNoBold printHeight full-width col-xs-3 numTxtcolor"
                                href="#uiDivUtilityIndexScore" onclick="openScore()"
                                title="מדד להשוואה בין חברות הביטוח ביחס לטיב ומהירות הטיפול בתביעות. למידע נוסף לחץ על הציון של כל חברה."
                                style="">**</a></span>

                        <span class="hidden-sm hidden-lg hidden-md col-xs-4 printHeight"
                        > <b
                        >מחיר הביטוח</b> </span>
                        <div role="gridcell"><span
                                class="paddingTop hidden-xs printNoBold printHeight full-width col-sm-1 col-md-2 ltr resultsTxtcolor"
                                style="white-space:nowrap;">₪ 23,950</span></div>
                        <span class="hidden-sm hidden-lg hidden-md col-xs-4 printNoBold printHeight not-padding-left col-xs-6 ltr resultsTxtcolor"
                        >₪ 23,950</span>

                        <div class="k-hierarchy-cell col-sm-1 col-md-1  col-xs-5 not-padding-left  " role="gridcell"
                        ><a
                                class="k-plus btn more-info-a radius mk-aweb-menu-screen-reader-navigation-focus"
                                id="uiamoreinfo" href="#" tabindex="-1"
                                title="לחיצה על הכפתור תציג פרטים חשובים לגבי הביטוח (הנחות, השתתפויות עצמיות וכיסויים נוספים)."
                        >הצג מידע חשוב</a></div>
                    </td>
                    <td class="hidden-xs" role="presentation"
                    ></td>
                </tr>
                </tbody>
            </table>
        </td>

    </tr>


    <tr class=" k-master-row ">

        <td id="main-td" class="col-sm-12 col-xs-12 full-width" colspan="12" role="presentation"
        >
            <table id="innerTable" role="presentation" class="mk-aweb-menu-screen-reader-navigation-focus">
                <tbody role="presentation" class="">
                <tr role="presentation" class="">
                    <td class="hidden-xs" role="presentation"
                    ></td>

                    <td class="grid-row col-xs-12" role="presentation"
                    >


                        <div role="gridcell"><span
                                class="col-sm-1 col-xs-2 full-width corp-logo">
									<a href="//www.ayalon-ins.co.il"
                                       title="איילון חברה לביטוח בע&quot;מ , למעבר אל: //www.ayalon-ins.co.il"
                                       target="_new" id="a_link" class="mk-aweb-menu-screen-reader-navigation-focus"
                                    >
										<img src="../Content/Images/Companies/98.png" style="border:none"
                                             alt="" class="">
									</a>
								</span></div>


                        <div role="gridcell"><label
                                class="col-xs-11 col-sm-5 grid-first-row padding20">
                            הכל בה לדירה
                            <span style="font-size:10px"></span>
                        </label></div>

                        <span class="hidden-sm hidden-lg hidden-md col-xs-7 printHeight paddingTopPrint"
                        ><b>ציון במדד השירות בביטוח דירה</b>  </span>
                        <div role="gridcell"><span
                                class=""> <a
                                class="paddingTop hidden-xs printNoBold printHeight full-width col-sm-1 numTxtcolor mk-aweb-menu-screen-reader-navigation-focus"
                                href="#item2" onclick="openScore()"
                                title="מדד השירות בביטוח דירה משקף את רמת השירות של חברת הביטוח בענף ביטוח דירה. למידע נוסף, לחץ על הציון של כל חברה."
                        >71</a></span></div>
                        <span class="printNoBold"> <a
                                class="hidden-sm hidden-lg hidden-md printNoBold printHeight full-width col-xs-3 numTxtcolor"
                                href="#uiDivUtilityIndexScore" onclick="openScore()"
                                title="מדד להשוואה בין חברות הביטוח ביחס לטיב ומהירות הטיפול בתביעות. למידע נוסף לחץ על הציון של כל חברה."
                                style="">71</a></span>

                        <span class="hidden-sm hidden-lg hidden-md col-xs-4 printHeight"
                        > <b
                        >מחיר הביטוח</b> </span>
                        <div role="gridcell"><span
                                class="paddingTop hidden-xs printNoBold printHeight full-width col-sm-1 col-md-2 ltr resultsTxtcolor"
                                style="white-space:nowrap;">₪ 34,698</span></div>
                        <span class="hidden-sm hidden-lg hidden-md col-xs-4 printNoBold printHeight not-padding-left col-xs-6 ltr resultsTxtcolor"
                        >₪ 34,698</span>

                        <div class="k-hierarchy-cell col-sm-1 col-md-1  col-xs-5 not-padding-left  " role="gridcell"
                        ><a
                                class="k-plus btn more-info-a radius mk-aweb-menu-screen-reader-navigation-focus"
                                id="uiamoreinfo" href="#" tabindex="-1"
                                title="לחיצה על הכפתור תציג פרטים חשובים לגבי הביטוח (הנחות, השתתפויות עצמיות וכיסויים נוספים)."
                        >הצג מידע חשוב</a></div>
                    </td>
                    <td class="hidden-xs" role="presentation"
                    ></td>
                </tr>
                </tbody>
            </table>
        </td>

    </tr>
    </tbody>
</table>
</body>
</html>