<!DOCTYPE html>
<html class="k-webkit k-webkit80" lang="he-IL">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ביטוח תכולה</title>
</head>
<body>
<div id="mk-aweb-accessibility-panel-wrapper" class="mk-aweb-menu-display-none mk-aweb-menu-rtl" style=""
>
    <div id="wcag-skip-to" class="">
        <button class="skip_to skip_to_main_content"
                id="skip_to_main_content" tabindex="1">
            דלג לאיזור תוכן מרכזי
        </button>
        <button tabindex="1"
                class="skip_to skip_to_main_menu mk-aweb-menu-hide-self"
                id="skip_to_main_menu">
            דלג לאיזור תפריט ראשי
        </button>
        <button tabindex="1"
                class="skip_to skip_to_sub_menu mk-aweb-menu-hide-self"
                id="skip_to_sub_menu">
            דלג לאיזור תפריט משני
        </button>
        <button tabindex="1" class="skip_to skip_to_bottom_menu"
                id="skip_to_bottom_menu">
            דלג לאיזור תפריט תחתון
        </button>
        <button tabindex="1"
                class="skip_to skip_to_site_map mk-aweb-menu-hide-self"
                id="skip_to_site_map">
            מעבר למפת אתר
        </button>
    </div>
    <a id="mk-aweb-open-panel" class="mk-aweb-menu-open-accessibility-panel top right "
       tabindex="1" role="button" aria-haspopup="true"
       aria-controls="mk-aweb-menu-accessibility-widget" aria-labelledby="gxCnNGxZ" aria-expanded="false" style=" "
       href="javascript:void(0)">
        <div class="mk-aweb-menu-img-custom mk-aweb-menu-sprite"
             style="background-image: url(https://portal.mk-sense.com/aportal/storage/5c372018-a77d-46d4-9d15-33f49f7fed39/menu_icon) !important; "
        ></div>
        <span id="gxCnNGxZ" class="mk-aweb-menu-sr-only">
תפריט נגישות
</span>
    </a>
    <div id="mk-aweb-menu-accessibility-widget" class="mk-aweb-menu-accessibility-panel top right"
    >
        <i class="mk-aweb-menu-triangle mk-aweb-menu-sprite"></i>
        <a
                class="mk-aweb-menu-close_accessibility_panel mk-aweb-menu-sprite mk-aweb-menu-font-size-0" style=""
                href="javascript:void(0)" role="button">סגירת תפריט נגישות</a>
        <ul class="mk-aweb-menu-accessibility-panel-list" data-deck="header">
            <li class="mk-aweb-menu-link mk-aweb-menu-fonts no-hover" data-deck="header"
            >
<span class="mk-aweb-menu-accessibility-panel-item-title"
>גודל פונט</span>
                <button type="button" id="panel-font-size-increase" class=""
                        role="button" title="הגדלת טקסט">א+
                </button>
                <button type="button" id="panel-font-size-decrease" class=""
                        role="button" title="הקטנת טקסט">א-
                </button>
                <button type="button" id="panel-font-size-normal" class=""
                        role="button" title="חזרה לטקסט רגיל">חזרה לגודל מקורי
                </button>
            </li>
        </ul>
        <ul class="mk-aweb-menu-accessibility-panel-list" data-deck="main">
            <li class="mk-aweb-menu-link " data-deck="main" tabindex="0">
                <div class="mk-aweb-menu-img-wrpr">
                    <div class="mk-aweb-menu-inv mk-aweb-menu-sprite"></div>
                </div>
                <button type="button" id="menu-button-contrast" tabindex="-1">
                    <span title="התאמה תצוגה בקונטרסט">התאמה לכבדי ראייה</span>
                </button>
            </li>
            <li class="mk-aweb-menu-link " data-deck="main" tabindex="0">
                <div class="mk-aweb-menu-img-wrpr">
                    <div class="mk-aweb-menu-gry mk-aweb-menu-sprite"></div>
                </div>
                <button type="button" id="menu-button-grayscale" tabindex="-1">
<span title="התאמת תצוגה בצבעי שחור לבן"
>התאמה לעיוורי צבעים</span>
                </button>
            </li>
            <li class="mk-aweb-menu-link " data-deck="main" tabindex="0">
                <div class="mk-aweb-menu-img-wrpr">
                    <div class="mk-aweb-menu-anm mk-aweb-menu-sprite"></div>
                </div>
                <button type="button" id="menu-button-animation-stop" tabindex="-1">
                    <span>הסתרת אנימציות והבהובים</span>
                </button>
            </li>
            <li class="mk-aweb-menu-link " data-deck="main" tabindex="0">
                <div class="mk-aweb-menu-img-wrpr">
                    <div class="mk-aweb-menu-def mk-aweb-menu-sprite"></div>
                </div>
                <button type="button" id="menu-button-reset" tabindex="-1">
                    <span title="חזרה לתצוגה רגילה">תצוגה רגילה</span>
                </button>
            </li>
            <li class="mk-aweb-menu-link " data-deck="main" tabindex="0">
                <div class="mk-aweb-menu-img-wrpr">
                    <div class="mk-aweb-menu-stt mk-aweb-menu-sprite"></div>
                </div>
                <button type="button" id="menu-button-statement" tabindex="-1">
                    <span title="פתיחת דף הצהרת נגישות">הצהרת נגישות</span>
                </button>
            </li>
            <li class="mk-aweb-menu-link mk-aweb-menu-new-menu-button mk-aweb-menu-new-menu-button-first"
                data-deck="main" tabindex="0">
                <div class="mk-aweb-menu-img-wrpr">
                    <div class="mk-aweb-menu-font mk-aweb-menu-sprite"></div>
                </div>
                <button type="button" id="menu-button-normalization-font" tabindex="-1">
<span title="שנה לגופן קריא"
>פונט קריא</span>
                </button>
            </li>
            <li class="mk-aweb-menu-link mk-aweb-menu-new-menu-button" data-deck="main" tabindex="0"
            >
                <div class="mk-aweb-menu-img-wrpr">
                    <div class="mk-aweb-menu-white-cursor mk-aweb-menu-sprite"></div>
                </div>
                <button type="button" id="menu-button-big-white-cursor" tabindex="-1">
<span title="מגדיל את סמן העכבר עד הדגשה לבן"
>סמן עכבר -מוגדל לבן</span>
                </button>
            </li>
            <li class="mk-aweb-menu-link mk-aweb-menu-new-menu-button" data-deck="main" tabindex="0"
            >
                <div class="mk-aweb-menu-img-wrpr">
                    <div class="mk-aweb-menu-black-cursor mk-aweb-menu-sprite"></div>
                </div>
                <button type="button" id="menu-button-big-black-cursor" tabindex="-1">
<span title="מגדיל את סמן העכבר עד הדגשה שחורה"
>סמן עכבר - מוגדל שחור</span>
                </button>
            </li>
            <li class="mk-aweb-menu-link mk-aweb-menu-new-menu-button" data-deck="main" tabindex="0"
            >
                <div class="mk-aweb-menu-img-wrpr">
                    <div class="mk-aweb-menu-screen-reader-navigation mk-aweb-menu-sprite"
                    ></div>
                </div>
                <button type="button" id="menu-button-screen-reader-navigation" tabindex="-1">
<span title="מאפשר ניווט מקלדת לפי תכני עניין"
>תוכן עניינים של האתר</span>
                </button>
            </li>
        </ul>
        <ul class="mk-aweb-menu-accessibility-panel-list" data-deck="footer">
            <li class="mk-aweb-menu-link mk-aweb-menu-lang no-hover" data-deck="footer">
                <button type="button" role="button" id="ar-jo">
                    العربية
                </button>
                <button type="button" role="button" id="en-us">
                    English
                </button>
                <button type="button" role="button" id="ru-ru">
                    Русский
                </button>
                <button type="button" role="button" id="he-il">
                    עברית
                </button>
            </li>
            <li class="mk-aweb-menu-link mk-aweb-menu-credit no-hover" data-deck="footer"
            >
<span class="mk-aweb-menu-credit-prefix" title="מונגש על ידי "
>powered by</span>
                <a href="http://mk-sense.com/" target="_blank" class="nomargin"
                   title="אתר Make-Sense">Make-Sense Web Accessibility Solutions</a>
                <span></span>
            </li>
        </ul>
        <div class="mk-aweb-menu-navigation-menu mk-aweb-menu-icon-parent" style="visibility: hidden;"
        >
            <div class="mk-aweb-menu-icon">
                <a role="button" aria-labelledby="mk-aweb-menu-hide-screen-reader-menu" tabindex="0"
                   class="mk-aweb-menu-windows-management mk-aweb-menu-screen-reader-focusable-elements"
                   href="javascript:void(0)"></a>
                <span id="mk-aweb-menu-hide-screen-reader-menu"
                      class="mk-aweb-menu-sr-only mk-aweb-menu-windows-management">
</span>
            </div>
            <div class="mk-aweb-menu-buttons" style="white-space: nowrap;">
                <button id="mk-aweb-menu-links" class="mk-aweb-menu-screen-reader-focusable-elements"
                >קישורים
                </button>
                <button id="mk-aweb-menu-headers" class="mk-aweb-menu-screen-reader-focusable-elements"
                >כותרות
                </button>
                <button id="mk-aweb-menu-lists" class="mk-aweb-menu-screen-reader-focusable-elements"
                >רשימות
                </button>
            </div>
        </div>
    </div>
    <div style="display: none;">
        <span>ניווט מהיר - קישורים</span>
        <span>קישורים מהכותרת</span>
        <span>קישורים מתוך ראשי</span>
        <span>קישורים מתוך הכותרת התחתונה</span>
        <span>ניווט מהיר - כותרות</span>
        <span>כותרות  ראשיות</span>
        <span>כותרות מראשי</span>
        <span>כותרות מן השוליים</span>
        <span>ניווט מהיר  - רשימות</span>
        <span>רשימות כותרת ראשית</span>
        <span>רשימות מן הראשי</span>
        <span>רשימות מן כותרת תחתונה</span>
    </div>
</div>
</div>
<section class="container">
    <header class="">
        <div id="uiDivHeader" class="container">
            <div class="col-sm-5 col-md-7 ">
                <a class="logo_calc pull-right mk-aweb-menu-screen-reader-navigation-focus" href="/Home/Index"
                   title="לדף הבית" aria-label="מחשבון ביטוח דירה לוגו"></a>
            </div>
            <div class="hidden-xs mof-logos col-sm-3 col-md-2 full-width padding-top-20 padding-left-30" role="group"
                 aria-label="רשתות חברתיות">
                <a href="https://www.facebook.com/Israeli.Ministry.of.Finance" style="text-decoration:none;"
                   title="פייסבוק" target="_blank" class="mk-aweb-menu-screen-reader-navigation-focus"
                >
                    <div class="facebook-white"></div>
                </a>
                <a href="https://www.linkedin.com/company/israel-ministry-of-finance" style="text-decoration:none;"
                   title="לינקדין" target="_blank" class="mk-aweb-menu-screen-reader-navigation-focus"
                >
                    <div class="linkedin-white"></div>
                </a>
                <a href="https://twitter.com/israel_mof" style="text-decoration:none;" title="טוויטר" target="_blank"
                   class="mk-aweb-menu-screen-reader-navigation-focus">
                    <div class="twitter-white"></div>
                </a>
                <a href="https://www.youtube.com/user/mofisrael/featured" style="text-decoration:none;" title="יוטיוב"
                   target="_blank" class="mk-aweb-menu-screen-reader-navigation-focus">
                    <div class="youtube-white"></div>
                </a>
            </div>
            <div class="hidden-xs col-md-3 col-sm-4 not-padding-left">
                <a class="logo_shuk_hahon pull-left mk-aweb-menu-screen-reader-navigation-focus"
                   href="http://www.mof.gov.il/hon" title="לאתר רשות שוק ההון ביטוח וחסכון" target="_new"
                ></a>
            </div>
        </div>
    </header>
    <section>
        <div class=" container " role="main">
            <img class="col-sm-12 col-xs-12 img-responsive full-width"
                 src="../Content/Images/ParametersPage/Content.gif" alt="">
            <!--<label class="showMinScreen headerText"></label>-->
            <h1 class="hiddenText mk-aweb-menu-screen-reader-navigation-focus">ביטוח
                תכולה</h1>
            <div class="clear col-sm-12 col-xs-12  full-width  bkg_Content ">
                <form id="uiFormParameters" class="  center-block border " data-role="validator"
                      novalidate="novalidate">
                    <div class="col-sm-12 col-xs-12 ">
                        <p class="required">* חובה למלא את כל השדות</p>
                    </div>
                    <div class="col-sm-12 full-width ">
                        <label class="col-sm-5" for="uiDdlStructureAndFloorType">סוג
                            מבנה וקומה</label>
                        <div class="col-sm-5 container ">
                            <div class="col-sm-8 not-padding-right-xs">
<span class="k-widget k-dropdown k-header k-rtl" role="combobox" aria-haspopup="true"
      aria-expanded="false" tabindex="0" aria-owns="uiDdlStructureAndFloorType_listbox"
      aria-disabled="false" aria-readonly="false" aria-busy="false"
      aria-activedescendant="uiDdlStructureAndFloorType_option_selected"
      aria-label="סוג מבנה וקומה" style="">
<span class="k-dropdown-wrap k-state-default">
<span class="k-input">בחר סוג מבנה וקומה</span>
<span class="k-select">
<span class="k-icon k-i-arrow-s">select</span>
</span>
</span>
<input class="k-rtl" id="uiDdlStructureAndFloorType"
       data-bind="value: storeParametersItems.MTYPE" name="MTYPE" required=""
       type="text" data-role="dropdownlist" style="display: none;"
>
</span>
                            </div>
                        </div>
                    </div>
                    <div class="seperator"></div>
                    <div id="uiDivMidFloor" data-bind="visible: storeParametersItems.showFloor" style="display: none;"
                    >
                        <div class="col-sm-12 full-width">
                            <label class="col-sm-5" for="uiTxtNMidFloor">קומת
                                ביניים</label>
                            <div class="col-sm-5 container ">
                                <div class="col-sm-8 not-padding-right-xs">
<span class="k-widget k-numerictextbox k-rtl" style=""
>
<span class="k-numeric-wrap k-state-default">
<input type="text" class="k-formatted-value k-rtl k-input" tabindex="0"
       placeholder="הזן קומה" aria-disabled="false" aria-readonly="false"
       style="display: inline-block;">
<input id="uiTxtNMidFloor" class="k-rtl  k-input"
       data-requiredmidfloor-msg=""
       data-bind="value: storeParametersItems.MTYPE_PARAMETER"
       name="MultipliesParameterMTYPE" type="text" placeholder="הזן קומה"
       maxlength="4" data-role="numerictextbox" role="spinbutton"
       aria-valuemin="0" aria-valuemax="9999" aria-valuenow=""
       aria-disabled="false" aria-readonly="false" style="display: none;"
>
<span class="k-select">
<span class="k-link">
<span class="k-icon k-i-arrow-n" title="הגדל"
>הגדל</span>
</span>
<span class="k-link">
<span class="k-icon k-i-arrow-s" title="הקטן"
>הקטן</span>
</span>
</span>
</span>
</span>
                                </div>
                            </div>
                        </div>
                        <div class="seperator"></div>
                    </div>
                    <div>
                        <div class="col-sm-12 full-width ">
                            <label class="col-sm-5" for="uiTxtNContentInsuranceSum">סכום
                                ביטוח התכולה בש''ח</label>
                            <div class="col-sm-6 col-md-5 full-width ">
                                <div class="col-sm-10 col-md-9 not-padding-right-xs">
<span class="k-widget k-numerictextbox k-rtl" style=""
>
<span class="k-numeric-wrap k-state-default">
<input type="text" class="k-formatted-value k-rtl k-input" tabindex="0"
       placeholder="הזן סכום ביטוח התכולה בש''ח" aria-disabled="false"
       aria-readonly="false" style="display: inline-block;"
>
<input class="k-rtl  k-input" id="uiTxtNContentInsuranceSum" name="TSUM"
       data-bind="value: storeParametersItems.TSUM" type="text"
       placeholder="הזן סכום ביטוח התכולה בש''ח"
       data-greaterthanzero-msg="יש להזין סכום ביטוח גדול מאפס"
       data-role="numerictextbox" role="spinbutton" aria-valuemin="0"
       aria-valuemax="999999999" aria-valuenow="" aria-disabled="false"
       aria-readonly="false" style="display: none;"
>
<span class="k-select">
<span class="k-link">
<span class="k-icon k-i-arrow-n" title="הגדל"
>הגדל</span>
</span>
<span class="k-link">
<span class="k-icon k-i-arrow-s" title="הקטן"
>הקטן</span>
</span>
</span>
</span>
</span>
                                </div>
                                <div class="col-sm-1 col-md-1 hidden-xs full-width">
                                    <a class="icon-tooltip question questiontext mk-aweb-menu-screen-reader-navigation-focus"
                                       data-toggle="tooltip" data-placement="top"
                                       data-original-title="על סכום ביטוח התכולה לשקף את שווי הפריטים בדירה נכון למועד תחילת הביטוח. חברת ביטוח עשויה לשלוח שמאי או סוקר כדי להעריך את שווי הפריטים."
                                       tabindex="0"
                                       aria-label=" הסבר נוסף על סכום ביטוח התכולה לשקף את שווי הפריטים בדירה נכון למועד תחילת הביטוח. חברת ביטוח עשויה לשלוח שמאי או סוקר כדי להעריך את שווי הפריטים."
                                       role="button">?</a>
                                </div>
                            </div>
                        </div>
                        <div class="seperator"></div>
                        <div class="col-sm-12 full-width">
                            <label class="col-sm-5 hidden-xs largeLabel" for="uiDdlNumberOfContentClaims"
                            >האם הוגשו תביעות בשנים האחרונות בביטוח תכולה?</label>
                            <label class="col-xs-12 hidden-md hidden-lg hidden-sm CenterLabel"
                                   for="uiDdlNumberOfContentClaims">האם הוגשו תביעות
                                בשנים האחרונות בביטוח תכולה?</label>
                            <div class="col-sm-6 col-md-5 full-width ">
                                <div class="col-sm-10 not-padding-right-xs">
<span class="k-widget k-dropdown k-header k-rtl" role="combobox"
      aria-haspopup="true" aria-expanded="false" tabindex="0"
      aria-owns="uiDdlNumberOfContentClaims_listbox" aria-disabled="false"
      aria-readonly="false" aria-busy="false"
      aria-activedescendant="uiDdlNumberOfContentClaims_option_selected"
      aria-label="האם הוגשו תביעות בשנים האחרונות בביטוח תכולה?" style=""
>
<span class="k-dropdown-wrap k-state-default">
<span class="k-input">בחר תביעות</span>
<span class="k-select">
<span class="k-icon k-i-arrow-s"
>select</span>
</span>
</span>
<input class="k-rtl " id="uiDdlNumberOfContentClaims"
       data-bind="value: storeParametersItems.TTVIA" name="TTVIA" required=""
       type="text" data-role="dropdownlist" style="display: none;"
>
</span>
                                </div>
                            </div>
                        </div>
                        <div class="seperator"></div>
                    </div>
                    <div id="uiDivCaptcha" class="hide">
                        <div class="col-sm-12 col-xs-12 full-width"><label
                                class="col-sm-5 col-xs-12 " for="captha">לצורכי אבטחה,
                            אנא השב/י על התרגיל:</label>
                            <div class="col-sm-7 col-xs-12 container">
                                <div id="uiDivCaptchaImg">
                                    <div class="col-sm-5 col-md-4 col-xs-12 not-padding-left"
                                    >
                                        <input id="uiTxtCaptcha" name="input" type="text" placeholder="הזן תשובה"
                                               data-role="validator">
                                    </div>
                                    <div class="col-sm-3 full-width col-xs-12">
                                        <img id="uiImgCaptcha"
                                             src="/Captcha/CaptchaImage?t=02%2F25%2F2020%2018%3A09%3A33"
                                             alt="יש להזין את התשובה לתרגיל שלפניך">
                                    </div>
                                    <div class="col-sm-3 col-xs-12">
                                        <a onclick="RefreshCaptcha()" href="#uiDivCaptchaImg"
                                        >החלף תרגיל</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row_button clear">
                        <button type="button" id="uiBtnClear" class="bluebuttontext clean radius">נקה</button>
                        <button type="button" id="uiBtnCalculate" data-bind="click: onCalculate"
                                class="pull-left btn  button bluebuttontext radius">&lt; לחץ להשוואה
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <footer class="clear container"><p class="col-xs-5 col-sm-5">כל הזכויות שמורות לרשות
        שוק ההון 2015</p>
        <ul class="col-xs-2 col-sm-2  mk-aweb-menu-screen-reader-navigation-focus">
            <li class="centered">
                <a href="/Home/TechnicalSupport" class="mk-aweb-menu-screen-reader-navigation-focus"
                >צור קשר</a>
            </li>
        </ul>
        <p class=" col-xs-5 col-sm-5 left">
            <img src="/Content/Images/LayoutPage/logo_agaf.gif" alt="">
            <span>&nbsp;</span>האתר פותח על-ידי האגף למערכות מידע, משרד האוצר
        </p>
    </footer>
</section>
<div class="k-list-container k-popup k-group k-reset k-rtl" id="uiDdlStructureAndFloorType-list" data-role="popup"
     style="position: absolute; height: auto; display: none;">
    <ul class="k-list k-reset" tabindex="-1" role="listbox" aria-hidden="true" id="uiDdlStructureAndFloorType_listbox"
        aria-live="off" style="overflow: auto;">
        <li tabindex="-1" role="option" class="k-item k-state-selected k-state-focused"
            id="uiDdlStructureAndFloorType_option_selected" aria-selected="true">בחר סוג
            מבנה וקומה
        </li>
        <li tabindex="-1" role="option" class="k-item">בית פרטי</li>
        <li tabindex="-1" role="option" class="k-item">בית דו משפחתי</li>
        <li tabindex="-1" role="option" class="k-item">בניין משותף - קומת קרקע</li>
        <li tabindex="-1" role="option" class="k-item">בניין משותף - קומת ביניים</li>
        <li tabindex="-1" role="option" class="k-item">בניין משותף - קומה אחרונה</li>
        <li tabindex="-1" role="option" class="k-item">בניין משותף - קומת גג (פנטהאוז)
        </li>
    </ul>
</div>
<div class="k-list-container k-popup k-group k-reset k-rtl" id="uiDdlNumberOfContentClaims-list" data-role="popup"
     style="position: absolute; height: auto; display: none;">
    <ul class="k-list k-reset" tabindex="-1" role="listbox" aria-hidden="true" id="uiDdlNumberOfContentClaims_listbox"
        aria-live="off" style="overflow: auto;">
        <li tabindex="-1" role="option" class="k-item k-state-selected k-state-focused"
            id="uiDdlNumberOfContentClaims_option_selected" aria-selected="true">בחר
            תביעות
        </li>
        <li tabindex="-1" role="option" class="k-item">ללא תביעות</li>
        <li tabindex="-1" role="option" class="k-item">תביעה אחת - בשנה האחרונה</li>
        <li tabindex="-1" role="option" class="k-item">תביעה אחת - לפני שנה</li>
        <li tabindex="-1" role="option" class="k-item">תביעה אחת - לפני שנתיים</li>
        <li tabindex="-1" role="option" class="k-item">שתי תביעות ויותר- בשלוש השנים
            האחרונות
        </li>
    </ul>
</div>
<div id="wcag-bottom-skip-to" class="">
    <button class="skip_to skip_to_page_top" id="skip_to_page_top"
            title="הגעת לסוף הדף לחץ לחזרה לראש הדף">חזרה לראשית הדף
    </button>
</div>
</body>
</html>