{% load static %}

<!DOCTYPE html>
<html lang="he">
<head>
    <title>מנהרת ביטוח</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static '/img/harbit.png' %}"/>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          crossorigin="anonymous" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm">
    {#    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.0.0/css/bootstrap.min.css"#}
    {#          crossorigin="anonymous" integrity="sha384-P4uhUIGk/q1gaD/NdgkBIl3a6QywJjlsFJFk7SPRdruoGddvRVSwv5qFnvZ73cpz">#}
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">
    {#    <link rel="stylesheet" type="text/css" href="{% static 'css/construction.css' %}">#}
    <link rel="stylesheet" type="text/css" href="{% static 'css/json-viewer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<input id="page_selector" type="hidden" value="{{ page }}">
<ul id="harbitTabs" class="nav nav-tabs nav-fill" role="tablist">
    <li class="nav-item">
        <a id="content-tab" href="#content" aria-controls="content" class="nav-link" role="tab" data-toggle="tab" aria-selected="false">תכולה</a>
    </li>
    <li class="nav-item">
        <a id="building-tab" href="#building" aria-controls="building" class="nav-link" role="tab" data-toggle="tab" aria-selected="false">מבנה</a>
    </li>
    <li class="nav-item">
        <a id="fullprop-tab" href="#fullprop" aria-controls="fullprop" class="nav-link" role="tab" data-toggle="tab" aria-selected="false">מבנה ותכולה</a>
    </li>
    <li class="nav-item">
        <a id="mortgage-tab" href="#mortgage" aria-controls="mortgage" class="nav-link" role="tab" data-toggle="tab" aria-selected="false">משכנתה</a>
    </li>
    <li class="nav-item">
        <a id="life-tab" href="#life" aria-controls="life" class="nav-link" role="tab" data-toggle="tab" aria-selected="false">חיים</a>
    </li>
    <li class="nav-item">
        <a id="health-tab" href="#health" aria-controls="health" class="nav-link" role="tab" data-toggle="tab" aria-selected="false">בריאות</a>
    </li>
    <li class="nav-item">
        <a id="coverage-tab" href="#coverage" aria-controls="coverage" class="nav-link" role="tab" data-toggle="tab" aria-selected="false">כיסוים</a>
    </li>
    <li class="nav-item">
        <a id="control-tab" href="#control" aria-controls="control" class="nav-link" role="tab" data-toggle="tab" aria-selected="false"><i class="fa fa-cogs"></i></a>
    </li>
</ul>
<div id="harBitContent" class="tab-content nav-fill">
    <div id="content" class="tab-pane fade table-bordered" role="tabpanel" aria-labelledby="content-tab">
        <div class="fluid-container">
            <div class="row">
                <div id="content_data" class="data-holder col-9 text-center" data-tab="#content-tab">
                    <button type="button" class="btn btn-block btn-dark send">לבדוק הצעות</button>
                    <label class="timer badge badge-secondary"></label>
                </div>
                {% include 'content_form.html' %}
            </div>
        </div>
    </div>
    <div id="building" class="tab-pane fade table-bordered" role="tabpanel" aria-labelledby="building-tab">
        <div class="fluid-container">
            <div class="row">
                <div id="building_data" class="data-holder col-9 text-center" data-tab="#building-tab">
                    <button type="button" class="btn btn-block btn-dark send">לבדוק הצעות</button>
                    <label class="timer badge badge-secondary"></label>
                </div>
                {% include 'building_form.html' %}
            </div>
        </div>
    </div>
    <div id="fullprop" class="tab-pane fade table-bordered" role="tabpanel" aria-labelledby="fullprop-tab">
        <div class="fluid-container">
            <div class="row">
                <div id="fullprop_data" class="data-holder col-9 text-center" data-tab="#fullprop-tab">
                    <button type="button" class="btn btn-block btn-dark send">לבדוק הצעות</button>
                    <label class="timer badge badge-secondary"></label>
                </div>
                {% include 'fullprop_form.html' %}
            </div>
        </div>
    </div>
    <div id="mortgage" class="tab-pane fade table-bordered" role="tabpanel" aria-labelledby="mortgage-tab">
        <div class="fluid-container">
            <div class="row">
                <div id="mortgage_data" class="data-holder col-9 text-center" data-tab="#mortgage-tab">
                    <button type="button" class="btn btn-block btn-dark send">לבדוק הצעות</button>
                    <label class="timer badge badge-secondary"></label>
                </div>
                {% include 'mortgage_form.html' %}
            </div>
        </div>
    </div>
    <div id="life" class="tab-pane fade table-bordered" role="tabpanel" aria-labelledby="life-tab">
        <div class="fluid-container">
            <div class="row">
                <div id="life_data" class="data-holder col-9 text-center" data-tab="#life-tab">
                    <button type="button" class="btn btn-block btn-dark send">לבדוק הצעות</button>
                    <label class="timer badge badge-secondary"></label>
                </div>
                {% include 'life_form.html' %}
            </div>
        </div>
    </div>
    <div id="health" class="tab-pane fade table-bordered" role="tabpanel" aria-labelledby="health-tab">
        <div class="fluid-container">
            <div class="row">
                <div id="health_data" class="data-holder col-9 text-center" data-tab="#health-tab">
                    <button type="button" class="btn btn-block btn-dark send">לבדוק הצעות</button>
                    <label class="timer badge badge-secondary"></label>
                </div>
                {% include 'health_form.html' %}
            </div>
        </div>
    </div>
    <div id="coverage" class="tab-pane fade table-bordered" role="tabpanel" aria-labelledby="coverage-tab">
        <div class="fluid-container">
            <div class="row">
                <div id="coverage_data" class="data-holder col-9 text-center" data-tab="#coverage-tab">
                    <button type="button" class="btn btn-block btn-dark send">לבדוק כיסויים</button>
                    <label class="timer badge badge-secondary"></label>
                </div>
                {% include 'coverage_form.html' %}
            </div>
        </div>
    </div>
    <div id="control" class="tab-pane fade table-bordered" role="tabpanel" aria-labelledby="control-tab">
        <div class="fluid-container">
            <div class="row">
                <div id="control_data" class="data-holder col-9 text-center" data-tab="#control-tab">
                    <button type="button" class="btn btn-block btn-dark send logs">See logs</button>
                    <label class="timer badge badge-secondary"></label>
                </div>
								{% include 'control_form.html' %}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"
        crossorigin="anonymous"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        crossorigin="anonymous"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>
{#<script type="text/javascript" src="https://cdn.rtlcss.com/bootstrap/v4.0.0/js/bootstrap.min.js"#}
{#        crossorigin="anonymous"#}
{#        integrity="sha384-54+cucJ4QbVb99v8dcttx/0JRx4FHMmhOWi4W+xrXpKcsKQodCBwAvu3xxkZAwsH"></script>#}
<script type="text/javascript" src="{% static 'js/json-viewer.js' %}"></script>
<script type="text/javascript" src="{% static 'js/app.js' %}"></script>
</body>
</html>